<div class="past-tasks">

  <h3>My Completed Items</h3>
  <ul>
    {{#each tasks}}
      <li>
        <p>
          {{dataValues.item_name}}
        </p>
        <p>
          {{dataValues.category}}
        </p>
        <p>
          {{dataValues.criteria}}
        </p>
        <p>
          completed date: {{dataValues.createdAt}}
        </p>
      </li>
    {{/each}}
  </ul>

</div>