* {
  box-sizing: border-box;
}

:root {
  --hdr: #ff0080;
  --bg: #4dd0e1;
}

body {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 5.063em;
}

h2 {
  font-size: 3.375em
}

h3 {
  font-size: 2.25em
}

h4 {
  font-size: 1.5em
}

h6 {
  font-size: .667em
}

.italicized {
  font-style: italic;
}

/* header styling */

header {
  padding: 20px 0;
  text-align: center;
  background: var(--bg);
  /* background: linear-gradient(#00b496, #003813); */
}

header h1 {
  color: #ffffff;
  display: inline;
  font-family: 'Ropa Sans', serif;
  font-weight: bold;
}

header p {
  color: #ffffff;
}

/* index page styling */

#signup, #tasksearch, #usersearch {
  display: none;
}

.index-content {
  width: 600px;
  margin: 60px auto 0 auto;
}

.index-forms-div, .user-form-div {
  background-color: #fff;
  width: 320px;
  margin: 50px auto;
  box-shadow: 0 0 30px #333333;
}

.user-form-div {
  float: left;
}

.task-display-div {
  float: right;
}

.user-form-div {
  margin: 0;
}

.search-forms-div {
  padding: 20px;
  text-align: center;
}

.index-form, .search-div-form {
  padding: 20px;
}

.index-form h4 {
  color: var(--hdr);
  padding: 10px 0 0 4px;
  text-align: center;
}

.index-form p {
  text-align: center;
}

.index-btn-div, .search-btn-div {
  display: flex;
}

.index-btn, .user-form-div .search-div-btn {
  background-color: var(--hdr);
  border: none;
  color: #fff;
  outline: none;
  padding: 10px 0;
  width: 50%;
}

#signup-tab, #tasksearch-tab, #usersearch-tab {
  opacity: .5;
}

.index-btn:hover {
  cursor: pointer;
}

.index-form label, .index-form input, .search-div-form label, .search-div-form input, .search-div-form textarea, .search-div-form select {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

.index-form label, .search-div-form label {
  margin-top: 35px;
  /* padding-left: 20px; */
}

.underlined-input, select  {
  border: none;
  outline: transparent;
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #bbbbbb;
}

#signin-btn, #signup-btn, #user-search-btn, #new-task-btn {
  background-color: var(--hdr);
  border: none;
  outline: transparent;
  color: #fff;
  width: 100px;
  padding: 10px;
  margin: 30px auto 20px auto;
}





.logged-in-link {
  color: unset;
  text-decoration: none;
}

.logout-link {
  color: var(--hdr);
  padding-left: 5px;
}

header nav {
  display: inline-block;
  margin-right: 50px;
}

/* routes div styling */

.routes-div {
  padding-top: 5px;
  text-align: center;
}

.routes-div form {
  padding: 10px 0;
}

.routes-div input {
  padding: 3px;
}

.routes-div a {
  color: #007527;
}

/* main content styling */

.index-main {
  display: flex;
  flex: 1 0 auto;
}

.main-content {
  flex: 1 0 auto;
  margin: auto;
  width: 950px;
}

.user-profile {
  display: flex;
  width: 800px;
  margin: auto;
}

.user-img {
  height: 200px;
  margin-right: 20px;
  width: 200px;
  margin: auto;
}

.user-stats-div {
  width: 290px;
  margin: auto;
}

.user-bio {
  width: 300px;
}

.user-bio h4 {
  display: inline-block;
}

#edit-user-info {
  color: slateblue;
  height: 20px;
  background: transparent;
  outline: none;
  border: none;
}

/* create task form styling */

textarea {
  min-width: 258px;
  max-width: 258px;
  margin: auto;
}

/* task display div styling */

.task-display-div {
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
  width: 600px;
}

.rating-form input, .rating-form label, .rating-form p {
  display: inline-block;
  width: unset;
}

.rating-form p {
  float: left;
  margin-right: 10px;
}

.rating-div {
  width: 40px;
  float: left;
}

.rating-submit-btn {
  margin-top: -5px;
  margin-bottom: 5px;
}

.rating-form {
  margin-top: 5px;
}

footer {
  /* background: linear-gradient(#003813, #00b496); */
  background: var(--bg);
  color: #fff;
  padding: 15px;
  text-align: center;
}