<form id="signup" name="signup" method="post" action="/signup">
  <h4>All fields required</h4>


  <label for="username">Username:</label>
  <input id="username-input" name="username" type="text" />


  <label for="firstname">First Name:</label>
  <input id="firstname" name="firstname" type="text" />


  <label for="lastname">Last Name:</label>
  <input id="lastname" name="lastname" type="text" />


  <label for="email">Email:</label>
  <input id="email-input" name="email" type="text" />


  <label for="password">Password:</label>
  <input id="password-input" name="password" type="password" />

  
  <input id="signup-btn" class="btn" type="submit" value="Sign Up" />
</form>